@model IEnumerable<HOA_DON>

<div class="Tb-Container mt-3">
    <div class="portfolio_button">
        <div class="row">
            <div class="col-12">

                <button class="active" data-filter="*">Tất cả đơn hàng</button>
                <button data-filter=".company">Chờ xác nhận</button>
                <button data-filter=".computers">Đang giao</button>
                <button data-filter=".general">Đã giao</button>
                <button data-filter=".hipster">Đã hủy</button>
            </div>
        </div>
    </div>
    <table class="table_user responsive-table">
        <thead>
            <tr>
                <th> Họ Tên</th>
                <th> Số điện thoại</th>
                <th> Địa chỉ</th>
                <th> Ngày đặt</th>
                <th> Ghi Chú</th>                
                <th> Giá</th>
                <th> Trạng thái</th>
                <th> Chi tiết</th>
                
            </tr>
        </thead>
        <tbody>          
                <tr>
                    <td>abc</td>
                    <td>1234567890</td>
                    <td>aaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
                    <td>12-12-1212</td>
                    <td>aaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
                    <td>1222222</td>
                    <td> Hmmm ch píc j</td>
                <td style="text-align:center;"><a href="#"><i class="fas fa-list"></i></a></td>
                </tr>
        </tbody>
    </table>
</div>
