
<div class="shopping_cart_area">
    <div class="row pos_home">
        <div class="col-lg-3 col-md-8 col-12">
            <!--sidebar banner-->
            <div class="sidebar_widget banner mb-35">
                <div class="banner_img mb-35">
                    <a href="#"><img src="~/img/figma/9c834feee12aff4d4b89db2c9f22036e.jpg" alt=""></a>
                </div>

            </div>
            <!--sidebar banner end-->
            <!--sidebar banner-->
            <div class="sidebar_widget bottom ">
                <div class="banner_img">
                    <a href="#"><img src="~/img/figma/b3.jpg" alt=""></a>
                </div>
            </div>
            <!--sidebar banner end-->



        </div>
        <div class="col-lg-9 col-md-12">
            <!--banner slider start-->
            <div class="banner_slider slider_1">
                <div class="slider_active owl-carousel">
                    <div class="single_slider" style="background-image: url(https://lrocre.com.vn/wp-content/uploads/2019/07/%E1%BA%A3nh-qu%E1%BA%A3ng-c%C3%A1o-m%E1%BB%B9-ph%E1%BA%A9m-1.png)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Bộ sưu tập son giới hạn</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                    <div class="single_slider" style="background-image: url(https://www.droppii.com/wp-content/uploads/2023/02/kinh-nghiem-kinh-doanh-my-pham-online-2.jpg)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Bộ sưu tập mới</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                    <div class="single_slider" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ54s1F6EtSdefIeKSJjGxG8sp_-Rv5HQ09PetCUqFu8g&s)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Mỹ phẩm nổi bật</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--banner slider start-->
            <!--new product area start-->
            <div class="new_product_area" >
                <div class="block_title">
                    <h3>New Products</h3>
                </div>
                <div class="row" ng-controller="HomeSanPhamController">
                    <div class="product_active owl-carousel">
                        <div class="col-lg-3" ng-repeat="product in products">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a href="single-product.html"><img ng-src="{{product.image}}" alt=""></a>
                                    <div class="product_action">
                                        <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                        <a href="single-product.html" class="details">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <span class="product_price">{{product.price}} đ</span>
                                    <h3 class="product_title"><a href="single-product.html">{{product.name}}</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Định nghĩa module AngularJS
    var app = angular.module('myApp', []);

    // Định nghĩa controller AngularJS
    app.controller('HomeSanPhamController', function ($scope) {
        // Dữ liệu sản phẩm
        $scope.products = [
            { image: '~/img/product/pro_1.webp', price: 300.000, name: 'Sản phẩm 1' },
            { image: '~/img/product/pro_1.webp', price: 350.000, name: 'Sản phẩm 2' },
            { image: '~/img/product/pro_1.webp', price: 300.000, name: 'Sản phẩm 3' }
        ];
    });
</script>