@model SAN_PHAM

<div class="create-nd">
    <div class="breadcrumbs_area">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Quản lý</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>Sản phẩm</li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>Thêm sản phẩm</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="ThenTK-form register mt-3">
        <h2>Thêm sản phẩm</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Hình ảnh</label>
                <input asp-for="HinhAnhTaiLen" class="form-control" multiple id="HinhAnhTaiLen" name="hinhAnhTaiLen">
                <span asp-validation-for="HinhAnhTaiLen" class="text-danger"></span>
                <img id="imgpreview" class="pt-2" />
            </div>

            <div class="row">
                <div class="col">
                    <p>
                        <label for="TenSP">Tên sản phẩm:</label><br />
                        <input type="text" id="TenSP" name="TenSP" asp-for="TenSP" /><br />
                        <span asp-validation-for="TenSP" class="text-danger"></span>
                    </p>
                </div>
                <div class="col">
                    <p> Tên danh mục </p>
                    <select asp-for="MaDanhMuc" asp-items="ViewBag.DanhMuc" class="textbox" placeholder="Tên danh mục" id="danhmuc">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>
                        <label for="Gia">Giá:</label><br />
                        <input type="text" id="Gia" name="Gia" asp-for="Gia" /><br />
                        <span asp-validation-for="Gia" class="text-danger"></span>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <label for="SoLuong">Số lượng:</label><br />
                        <input type="text" id="SoLuong" name="SoLuong" asp-for="SoLuong" /><br />
                        <span asp-validation-for="SoLuong" class="text-danger"></span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>
                        <label for="MoTa">Mô tả:</label><br />
                        <textarea id="MoTa" name="MoTa" asp-for="MoTa"></textarea><br />
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </p>
                </div>

            </div>


            <div class="ThemTK-btn mt-3">
                <button type="submit">Thêm sản phẩm</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById("HinhAnhLink").addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("HinhAnh").click();
    });
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('preview').src = e.target.result;
                document.getElementById('preview').style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>