<div class=" pos_home_section">
    <div class="row pos_home">
        <div class="col-lg-3 col-md-12">
            <!--layere categorie"-->
            <div class="sidebar_widget shop_c">
                <div class="categorie__titile">
                    <h4>Categories</h4>
                </div>
                <div class="layere_categorie">
                    <ul>
                        <li>
                            <input id="acces" type="checkbox">
                            <label for="acces">Kem chống nắng</label>
                        </li>
                        <li>
                            <input id="dress" type="checkbox">
                            <label for="dress">Kem dưỡng</label>
                        </li>
                        <li>
                            <input id="tops" type="checkbox">
                            <label for="tops">toner</label>
                        </li>
                        <li>
                            <input id="bag" type="checkbox">
                            <label for="bag">serum</label>
                        </li>
                        <li>
                            <input id="bag" type="checkbox">
                            <label for="bag">Trang điểm mắt</label>
                        </li>
                        <li>
                            <input id="bag" type="checkbox">
                            <label for="bag">trang điểm môi</label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--layere categorie end-->
            <!--price slider start-->
            <div class="sidebar_widget price">
                <h2>Price</h2>
                <div class="ca_search_filters">

                    <input type="text" name="text" id="amount">
                    <div id="slider-range"></div>
                </div>
            </div>
            <!--price slider end-->

        </div>
        <div class="col-lg-9 col-md-12">
            <!--banner slider start-->
            <div class="banner_slider mb-35">
                <img src="assets\img\banner\bannner10.jpg" alt="">
            </div>
            <!--banner slider start-->
            <!--shop toolbar start-->
            <div class="shop_toolbar mb-35">

                <div class="list_button">
                </div>
                <div class="page_amount">
                    <p>Showing 1–9 of 21 results</p>
                </div>

                <div class="select_option">
                    <form action="#">
                        <label>Sắp xếp theo: </label>
                        <select name="orderby" id="short">
                            <option selected="" value="1">Vị trí</option>
                            <option value="1">Giá: Tăng dần</option>
                            <option value="1">Giá: Giảm dần</option>
                            <option value="1">Tên A-Z</option>
                            <option value="1">Cũ nhất</option>
                            <option value="1">Mới nhất</option>
                        </select>
                    </form>
                </div>
            </div>
            <!--shop toolbar end-->
            <!--shop tab product-->
            <div class="shop_tab_product">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="large" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="single-product.html"><img src="assets/img/product/pro_1.webp" alt=""></a>
                                        <div class="product_action">
                                            <a href="#" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                            <a href="single-product.html" class="details">Chi tiết</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--shop tab product end-->
            <!--pagination style start-->
            <div class="pagination_style">
                <div class="item_page">
                    <form action="#">
                        <label for="page_select">show</label>
                        <select id="page_select">
                            <option value="1">9</option>
                            <option value="2">10</option>
                            <option value="3">11</option>
                        </select>
                        <span>Products by page</span>
                    </form>
                </div>
                <div class="page_number">
                    <span>Pages: </span>
                    <ul>
                        <li>«</li>
                        <li class="current_number">1</li>
                        <li><a href="#">2</a></li>
                        <li>»</li>
                    </ul>
                </div>
            </div>
            <!--pagination style end-->
        </div>
    </div>
</div>