.flex-between {
    display: flex;
    justify-content: space-between;
}

.Can-giua {
    height: 500px;
    text-align: center;
}

    .Can-giua .img {
        height: 250px;
    }

.row .img-big {
    height: 500px;
}

.gach-n {
    position: relative;
    width: calc(70%); /* Chiều rộng của đường gạch, trừ đi 20px để bắt đầu từ h3 */
    left: 20%; /* Cách xa 20px từ phần tử h3 */
    border-bottom: 1px solid black;
    top: -20px;
}

.tk-trangchu {
    margin-right: 100px;
    padding: 10px;
    position: absolute;
    background-color: white;
    display: none;
}

.trangchu-spmoi h3 {
    padding-left: 8%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.tk-trangchu h6 {
    height: 30px;
    width: 200px;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.search-box {
    width: 200px;
    height: 100%;
    display: flex;
}

    .search-box input {
        width: 70%;
        height: 30px;
    }

    .search-box button {
        width: 25%;
        height: 30px;
        background-color: #9EE89E;
        color: white;
        border: none;
    }

        .search-box button:hover {
            background-color: #7CD47C;
        }

.user-icon ul {
    margin: 0;
    padding: 0;
}

    .user-icon ul li {
        padding: 5px;
    }

        .user-icon ul li:hover {
            background-color: #9EE89E;
        }

ul .none {
    text-decoration: none; /* Ẩn mũi tên */
}

.giohang-sp {
    margin: 0;
    padding: 0;
}

    /* Customize checkbox */
    .giohang-sp input[type="checkbox"] {
        transform: scale(0.8); /* Đặt kích thước của checkbox */
        margin-top: 10px; /* Đặt khoảng cách giữa checkbox và nội dung */
    }

    /* Định dạng cột */
    .giohang-sp .col-lg-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .giohang-sp .col-lg-4 img {
        width: 100%;
        height: auto;
    }

    .giohang-sp .col-lg-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .giohang-sp .col-lg-5 input {
            width: 55px;
            height: 30px;
        }

    .giohang-sp .col-lg-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

        .giohang-sp .col-lg-2 a i {
            font-size: 20px;
            margin-top: 10px;
            color: #7CD47C;
        }

        .giohang-sp .col-lg-2 p {
            margin-bottom: -5px;
        }

    .giohang-sp input[type="checkbox"] {
        width: 15px; /* Đặt chiều rộng của checkbox */
        height: 15px; /* Đặt chiều cao của checkbox */
        transform: scale(1.5); /* Đặt kích thước của checkbox */
        margin-top: 10px; /* Đặt khoảng cách giữa checkbox và nội dung */
        margin-bottom: 10px;
    }

    .giohang-sp .img {
        width: 50px; /* Đặt chiều rộng của hình ảnh */
        height: 50px; /* Đặt chiều cao của hình ảnh */
        object-fit: cover; /* Đảm bảo hình ảnh được điều chỉnh kích thước mà không bị méo */
    }

.TTGH_button button {
    background-color: #7CD47C;
    height: 50px;
    border: none;
    color: white;
    letter-spacing: 1px;
}

    .TTGH_button button:hover {
        background-color: #62e062;
    }

.account_form select {
    width: 50%;
}

.logo-helenskin {
    color: #7CD47C;
}

.TTGiaoHang_ThanhToan .col-lg-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FF0302;
}

.border-bt {
    border-bottom: 1px solid #D9D9D9;
}

.TTGiaoHang_ThanhToan .ttgh1 input {
    width: 70%;
}

.TTGiaoHang_ThanhToan .ttgh1 button {
    width: 25%;
    border: none;
    background-color: #D9D9D9;
    color: white;
}

.TTGiaoHang_ThanhToan img {
    padding-left: 0;
}

.TTGiaoHang_ThanhToan .ttgh-a {
    color: #4892DD;
}

.TTGiaoHang_ThanhToan .ttgh-sotien p {
    color: black;
}

.TTGiaoHang_ThanhToan .ttgh-sotien, .ttgh-tong span {
    color: #FF0302;
}

.TTGiaoHang_ThanhToan .ttgh-tong {
    font-size: 20px;
}

.width40 {
    width: 40%;
}

.width100 {
    width: 100%;
}

.table_user th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
}

.table_user td {
    padding: 10px;
    color: black;
}

.table_user {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table {
    overflow-x: auto;
}
/*table user*/
.Tb-container {
    max-width: 80%;
    overflow-x: auto;
    margin: 0 auto;
}

.table_user th,
.table_user td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table_user thead th {
    color: black;
}

.ngdung-tieude p{
    color:#9EE89E;
    font-size:30px;
}
.btn-cam {
    background-color: #FF8A00;
    color:white;
}
.btn-xanhLa {
    background-color: #7CD47C;
    color:white;
}

.ND_TimKiem_Ten {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ND_TimKiem_Ten {
    display: flex;
    justify-content: end;
}

.ND_TK_TenND p {
    margin-right: 10px;
    font-size: 17px;
}

.ND_TK_TenND i {
    color: #E48700;
    font-size: 30px;
}

.ND_TimKiem {
    width: 600px;
    height: 40px;
}

    .ND_TimKiem input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
    }

    .ThemNV a {
        width: 200px; /* Đặt kích thước chiều rộng mong muốn */
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        line-height: 40px; /* Đặt line-height bằng chiều cao của phần tử để căn giữa theo chiều dọc */
        color: #fff; /* Màu chữ */
        text-decoration: none; /* Loại bỏ gạch chân của liên kết */
        font-weight: bold; /* Đậm chữ */
    }

        .ThemNV a:hover {
            background-color: #9EE89E; /* Màu nền hover */
        }


.create-nd .ThenTK-form .row .col-lg-6 input {
    width: 85%;
}
.create-nd .ThenTK-form .row .col-lg-6 {
}
.create-nd .ThenTK-form .ThemTK-btn button {
    width: 200px; /* Đặt kích thước chiều rộng mong muốn */
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #7CD47C;
    line-height: 40px; /* Đặt line-height bằng chiều cao của phần tử để căn giữa theo chiều dọc */
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    font-weight: bold; /* Đậm chữ */
}

.ThemTK-btn button:hover {
    background-color: #FF0302; /* Màu nền hover */
}
.ThemTK-btn{
    text-align:center;

}

.ThenTK-form h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #333;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 38px;
}

.ThenTK-form form {
    border: 1px solid #d3ced2;
    padding: 20px;
    border-radius: 5px;
}

.ThenTK-form label {
    font-size: 15px;
    font-weight: 400;
    color: #555;
}

.ThenTK-form label {
    font-size: 15px;
    font-weight: 400;
    color: #555;
    cursor: pointer;
    margin-bottom: 0.1rem;
}

.ThenTK-form input {
    border: 1px solid #e5e5e5;
    height: 35px;
    max-width: 100%;
    padding: 0 0 0 10px;
    background: none;
}
.ThenTK-form .themtk-select {
    width:85%;
    border: 1px solid #e5e5e5;
    height: 35px;
    max-width: 100%;
    padding: 0 0 0 10px;
    background: none;
}
.ThenTK-form {
    margin-bottom: 35px;
}
    .ThenTK-form label:hover {
        color: #e84c3d;
    }

  /*Popup*/
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ADADAD;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

    .popup button {
        margin: 10px;
        padding: 5px 15px;
        float: left; /* Đặt nút về phía trái */
        background-color: #E48700;
        color: white;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 10px;
    }

        .popup button:last-child {
            float: right; /* Đặt nút cuối cùng về phía phải */
        }

        .popup button:hover {
            background-color: #E46B00;
        }

    /* Đảm bảo rằng nội dung bên trong popup không bị ảnh hưởng bởi các nút float */
    .popup:after {
        content: "";
        display: table;
        clear: both;
    }

    .popup a {
        margin: 10px;
        padding: 5px 15px;
        float: left; /* Đặt nút về phía trái */
        background-color: #E48700;
        color: white;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 10px;
        text-decoration: none;
    }

        .popup a:last-child {
            float: right; /* Đặt nút cuối cùng về phía phải */
        }

        .popup a:hover {
            background-color: #E46B00;
        }



 .popup button {
    width: unset;
    margin: 10px;
    padding: 5px 15px;
    float: left; /* Đặt nút về phía trái */
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
}

 .popup button:last-child {
        float: right; /* Đặt nút cuối cùng về phía phải */
    }

    .popup button:hover {
        background-color: rgb(54 189 54);
    }

/* Đảm bảo rằng nội dung bên trong popup không bị ảnh hưởng bởi các nút float */
.popup:after {
    content: "";
    display: table;
    clear: both;
}

    .popup a {
        margin: 10px;
        padding: 5px 15px;
        float: left; /* Đặt nút về phía trái */
        background-color: #7CD47C;
        color: white;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 10px;
        text-decoration: none;
    }

 .popup a:last-child {
        float: right; /* Đặt nút cuối cùng về phía phải */
    }

 .popup a:hover {
        background-color: #E46B00;
    }

.popup > button {
margin: 10px;
padding: 5px 15px;
float: left; /* Đặt nút về phía trái */
background-color: #7CD47C;
color: white;
cursor: pointer;
border: 1px solid #ccc;
outline: none;
border-radius: 10px;
}

.popup > button:last-child {
    float: right; /* Đặt nút cuối cùng về phía phải */
}

.khoa input {
    background-color: #ededed;
}