
@model NGUOI_DUNG

<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="DangNhap">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="customer_login">
    <div class="row">
        <!--login area start-->
        <div class="col-lg-6 col-md-6">
            <div class="account_form">
                <h2>Đăng nhập</h2>
                <form method="post" asp-action="DangNhap">
                    <p>
                        <label>Tên đăng nhập <span>:</span></label>
                        <input type="text" asp-for="TenTaiKhoan">
                    </p>
                    <p>
                        <label>Mật khẩu <span>:</span></label>
                        <input type="password" asp-for="MatKhau">
                    </p>
                    <div class="login_submit">
                        <button type="submit" name="action" value="login">Đăng nhập</button>
                        <a href="#">Quên mật khẩu?</a>
                    </div>

                </form>
            </div>
        </div>
        <!--login area start-->
        <!--register area start-->

        <div class="col-lg-6 col-md-6">
            <div class="account_form register">
                <h2>Đăng ký</h2>
                <form method="post" asp-action="DangKi">
                    <p>
                        <label>Họ và tên<span>:</span></label>
                        <input type="text" asp-for="TenND">
                        <span class="text-danger" asp-validation-for="TenND"></span>
                    </p>
                    <p>
                        <label>Số điện thoại <span>:</span></label>
                        <input type="text" asp-for="SoDienThoai">
                        <span class="text-danger" asp-validation-for="SoDienThoai"></span>
                    </p>
                    <p>
                        <label>Tên đăng nhập <span>:</span></label>
                        <input type="text" asp-for="TenTaiKhoan">
                        <span class="text-danger" asp-validation-for="TenTaiKhoan"></span>
                    </p>
                    <p>
                        <label>Mật khẩu <span>:</span></label>
                        <input type="password" asp-for="MatKhau">
                        <span class="text-danger" asp-validation-for="MatKhau"></span>
                    </p>
                    <div class="login_submit">
                        <button type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
        <!--register area end-->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>